.headroom {
  transition: all 0.3s linear;
  margin: 0;
  padding: 0;
}
.headroom--unfixed .navbar,
header.splash {
  background-color: rgb(66, 134, 244);
  border: 0px;
}
header.splash .navbar-nav > .active > a,
header.splash .navbar-nav > .active > a:hover,
header.splash .navbar-nav > .active > a:focus {
  background-color: rgb(45, 95, 180);
}

.headroom--pinned {
  background-color: rgb(44, 62, 80);
}

header.navbar {
  transition: all 0.3s linear;
  margin-bottom: 0;
  border-radius: 0;
}

header.navbar li {
  margin-bottom: 0;
}

.love {
  color: #E00000;
}

.edge-to-edge {
    width: 100vw;
    margin: 0;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    padding: 0;
    padding-bottom: 0.3em;
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
}

div.polaroid {
  position: relative;
}
div.polaroid img {
  /*border: 1px solid #999;*/
  width: 90vw;
  border: 10px solid #FFF;
  border-bottom: 80px solid #fff;
  -webkit-box-shadow: 8px 8px 10px #444;
     -moz-box-shadow: 8px 8px 10px #444;
          box-shadow: 8px 8px 10px #444;
  padding: 4px;
  background-color: #333;
  /*border-radius: 10px;*/
}
div.polaroid p.title {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  /*font-size: 18px;*/
  font: 400 36px 'Kaushan Script', cursive;
  font-size: calc(0.5em + 1vw);
  color: #333;
}

div.splash {
    /*border-top: 3px solid rgb(66, 134, 244);*/
    /*background-color: rgb(44, 62, 80);*/
    background-color: rgb(66, 134, 244);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
}

section {
  width: 100vw;
  margin: 0;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  padding: 0;
  padding-bottom: 0.3em;
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);

  overflow: auto;
}
section:nth-child(even) {
  background-color: white;
}

section:nth-child(odd) {
  background-color: rgb(249, 249, 249);
  border-top: 1px solid #DDD;
}

section.step h2, section.step > p {
  /*margin-left: calc(-1 * (100vw - 150%) / 2);*/
}

section.step img {
  /*margin-left: calc(-1 * (100vw - 150%) / 2);*/
  width: 260px;
  padding: 12px;
  padding-top: 18px;
}
section.step:nth-child(even) img {
  float: left;
  padding-right: 24px;
}
section.step:nth-child(odd) img {
  float: right;
  padding-left: 24px;
}

@media screen and (max-width: 800px) {
  div.splash {
    font-size: 6.5vw;
  }
  .duckie {
    width: 16vw;
  }
}

@media screen and (max-width: 600px) {
  h1.title {
    font-size: 7.5vw;
  }

  section.step:nth-child(even) img {
    float: none;
    padding-right: 12px;
  }
  section.step:nth-child(odd) img {
    float: none;
    padding-left: 12px;
  }
}

@media screen and (max-width: 400px) {
  h1.title {
    font-size: 1.6em;
  }
  section.step:nth-child(even) img {
    float: none;
    padding-right: 12px;
  }
  section.step:nth-child(odd) img {
    float: none;
    padding-left: 12px;
  }
}